<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <div th:replace="layout/menu :: menu"></div>

        <h1>WG-Kassenbuch</h1>
    </div>

    <ul class="list-unstyled">
        <li th:each="subject : ${subjects}">
            <a th:href="@{/subjects/{id}(id=${subject.id})}" th:text="${subject.name}"></a>
        </li>
    </ul>

    <form th:action="@{/subjects}" class="form-row mb-2" method="get">
        <div class="form-group col-md-3">
            <input class="form-control mr-2" name="suche" placeholder="Beschreibung" th:value="${suche}" type="text"/>
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-light" type="submit">Suchen</button>
        </div>
    </form>

    <form sec:authorize="authenticated"
          th:action="@{/subjects}" class="form-row" method="post" th:object="${subjectForm}">
        <div class="form-group col-md-3">
            <input class="form-control mr-2" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                   placeholder="Name" th:field="*{name}" type="text" />
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-primary mr-2" type="submit">Anlegen</button>
        </div>
        <div class="form-group col-md-4">
            <span class="text-danger" th:errors="*{name}" />
        </div>
    </form>

</div>
</body>
</html>